/* Styles specific to the Login component */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; /* Ensure it covers the viewport height */
    padding: 20px; /* Add some padding for smaller screens */
    background: inherit; /* Use the same background as the rest of the site */
  }
  
  .login-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  .login-heading {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-control:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .error-message {
    color: #ff0000;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    text-align: center;
  }
  