.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-image {
  max-height: 300px; /* Adjust the maximum height as needed */
}
:root {
  --text-color: #000; /* Default text color */
}

body {
  color: var(--text-color);
}


.background-image {
  background-image: url('./backgroundImage.jpg'); /* Replace './backgroundImage.jpg' with the path to your background image */
  background-size: cover;
  background-position: center;
}
.nav-link {
  transition: color 0.1s ease;
}

.nav-link.active {
  color: #ffcc00; /* Adjust to your active color */
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.navbar {
  z-index: 1; /* Ensure navbar appears above the overlay */
  background-color: #4CAF50; /* Change navbar background color */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff; /* Change navbar text color */
}

.navbar-toggler-icon {
  background-color: #ffffff; /* Change navbar toggler icon color */
}


.text-white {
  color: #ffffffec; /* Adjust text color to be white or any suitable color */
}
.bright-text {
  color: #ffffff; /* White color */
}
.transparent-card {
  background-color: transparent;
}
.plant-image {
  height: 400px;
  width: 100px; /* Set a fixed height for all images */
}
/* Add this CSS to your stylesheet */

.plant-card {
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.plant-card:hover {
  transform: translateY(-5px);
}

.plant-image-container {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.plant-image {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  object-fit: cover;
  transition: transform 0.5s ease;
}

.plant-image:hover {
  transform: scale(1.1); /* Add a hover effect to zoom in the image slightly */
}

.plant-content {
  padding: 20px;
}

.plant-title {
  font-size: 1.5rem;
  font-weight: italic;
  margin-bottom: 10px;
}

.plant-description {
  font-size: 1rem;
  color: #555555;
}
