.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.pagination button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.pagination button:hover {
  background-color: var(--hover-bg);
  border-color: var(--highlight-color);
  color: var(--highlight-color);
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  font-size: 18px;
  font-weight: bold;
}
